body {
  width: 600px;   
  margin: 0 auto; 
  font-family:Arial;
  text-align:justify;
}

h1 {
	color: green;
}

.p1 {
	color: blue;
}

h1, .p1 {
	border-style: dotted;
	border-width: 3px;
	border-color: red;
	/*border: 3px dotted red;*/
}

div {
	font-weight: bold;
	border-style: double;
	border-width: thick;
}

.p2 {
	border-style: dashed;
	border-width: 5px;
	border-color: blue;
	border-radius: 30px;
}
